/* BASE STYLES
--------------------------------------------------------- */
body {
  background: #C8C8C8;
}
.main-content {
  margin-top: 25px;
  margin-bottom: 25px;
}
aside {
  background: #c0392b;
  color: #fff;
}
footer > .menu {
  background-image: url("../images/footer-menu.png");
  background-repeat: repeat-x;
  border-bottom-color: #656565;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #9d9d9d;
}
footer > .final {
  background-color: #222;
  color: #9d9d9d;
}
/* NAVBAR STYLES
--------------------------------------------------------- */
.navbar-logo {
  width: 110px;
  float: left;
  background-image: url("../images/ctrl-c_blk.png");
  background-repeat: no-repeat;
  background-position: 10px center;
}
.navbar-logo:hover {
  background-image: url("../images/ctrl_c_gry80.png");
  color: #fff;
}
/* BOT IMAGE STYLES
--------------------------------------------------------- */
.botimg {
  position: relative;
  width: 100%;
}
.botimg-title {
  background: rgba(0,0,0,.6);
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 50;
  color: #fff;
}
.botimg-ribbon {
  position: absolute;
  right: -10px;
  top: -10px;
  z-index: 60;
}
.efecto1 {
  display: block;
  background: black;
}
.efecto1 > .botimg-img {
  display: block;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.efecto1:hover > .botimg-img {
  opacity: 0.5;
}
.efecto1 > .botimg-title {
  background: rgba(0,0,0,.6);
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.efecto1:hover > .botimg-title {
  background: rgba(0,0,0,.9);
}
/* PRODUCT STYLES
--------------------------------------------------------- */
.product-title {
  border: 2px solid;
  border-color: rgb(175,175,175);
  border-radius: 6px;
  background: rgb(175,175,175);
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.product-container-left {
  border: 2px solid;
  border-color: rgb(175,175,175);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: rgb(175,175,175);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.product-container-right {
  border: 2px solid;
  border-color: rgb(175,175,175);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: rgb(175,175,175);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.product-information {
  padding-left: 10px;
}
.price-container {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid;
  border-color: #C8C8C8;
  background: #C8C8C8;
}
.price-container > div {
  display: inline-block;
}
.product-price {
  font: 600 22px/26px "Open Sans",sans-serif;
  color: #333;
}
.old-product-price {
  color: #6f6f6f;
  text-decoration: line-through;
  font-size: 17px;
}
.price-reduction {
  background: #f13340;
  border: 1px solid #d02a2c;
  font: 600 21px/24px "Open Sans",sans-serif;
  color: #fff;
  padding: 0 5px 0 3px;
}
.product-mercadolibre {
  border: 2px solid;
  border-color: rgb(175,175,175);
  border-radius: 6px;
  background: rgb(175,175,175);
  margin-top: 15px;
  padding-bottom: 10px;
}
/* RESPONSIVE STYLES
--------------------------------------------------------- */
@media (min-width: 992px) {
  .product-container-right {
    height: 583px;
  }
  .product-container-left {
    height: 583px;
  }
  .product-container-left-padding {
    padding-right: 4px;
  }
  .product-container-right-padding {
    padding-left: 4px;
  }
}
@media (min-width: 1200px) {
  .product-container-right {
    height: 527px;
  }
  .product-container-left {
    height: 527px;
  }
}
